<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Eleven7</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Eleven7">
    <meta name="application-name" content="Eleven7">
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='index.css') }}" />
</head>
<script>
    var csrftoken = "{{ csrf_token() }}";
</script>
 <body>
    <div id="root"></div>
    </body>
    <script src="{{ static_url_for('static', filename='index.js') }}"></script>
</html>

